<footer class="footer">
  <div class="has-text-centered">
    <div class="columns">
      <div class="column">
        <%= t('views.app_name') %>
      </div>
      <div class="column">
        <a href="https://github.com/RuanAyram/videos_on_demand" target="_blank">
          <span class="icon is-large">
            <i class="fab fa-github fa-2x"></i>
          </span>
        </a>
        <a href="https://ruankaylo.netlify.com/" target="_blank">
          <span class="icon is-large">
            <i class="fas fa-globe fa-2x"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>
