<div class="container is-fluid">
  <br>

  <h1 class="title">Seja bem-vindo</h1>

  <p>Confira nossa lista de vídeos:</p>

  <% if @videos.each do |video| %>
    <div class="card">
      <div class="card-content">
        <p>Nome: <%= video.name %></p>
        <p>Usuário: <%= video.user.email %></p>
        <%= link_to 'Show', video %>
      </div>
    </div>
  <% end.empty? %>
    <div class="card">
      <div class="card-content">
        <h1 class="title has-text-centered">Nada cadastrado ainda :/</h1>
      </div>
    </div>
  <% end %>
</div>